.gopi {
    height: 100%;
    width: 100%;
    margin: 5px;

}
.ab {
    margin: 20px;
}
.cd h3{
    color: rgb(255, 0, 157);
    margin-top: 50px;
}
.cd h1 {
    color: black;
}
.ef {
    margin-top: 20px;
}
* {
    background: scroll;
    background-color: yellowgreen;
    background-color: transparent;
    background-size: contain;
}